/vendor/
/wpcs/
/.idea/
composer.lock
.env
.env.prod
.env.dev
.env.staging
package-lock.json
node_modules
dist
/dist/*
*.log
nginx/configs/conf.d/*
nginx/ssl/*
nginx/configs/.htpasswd
vault
mysql/
.DS_Store
*.lock
frontend/
wordpress/